.App {
  text-align: center;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 4rem;
  color: #001a33;
}

.header h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bolder;
  color: #EEAE1F;
  line-height: 0.85;
  padding: 0 2rem 0 0;
  min-width: 40%;
}

.imageInfo, .header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.datePicker {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.header {
  align-items: center;
}

.about {
  padding: 0 2rem;
  border-left: 1px dotted #001a33;
  width: 100%;
}

.about a {
  text-decoration: none;
  color: #001a33;
}

.dateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.dateSection button {
  border: 1px solid #001a33;
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 10rem;
  color: #001a33;
}

.dateSection button:hover {
  cursor: pointer;
  background-color: #001a33;
  color: white;
}

.image {
  min-height: 25rem;
  width: 100%;
}

.error {
  padding: 6rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #EEAE1F;
}

.credits {
  display: flex;
  flex-direction: column;
  min-width: 27%;
  border-right: 1px dotted #001a33;
  justify-content: center;
  padding: 0 2rem;
}

.credits p {
  margin-top: 0.5rem;
}

.description {
  padding: 0 2rem;
}

.footer {
  border-top: 1px dotted #001a33;
  padding-top: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: #001a33;
  padding: 0.5rem;
}

.footer a:hover {
  color: #EEAE1F;
  
}

/* Add media queries for mobile-width */
@media only screen and (max-width: 750px) {
  .App {
    padding: 1rem 3rem;
  }

  .header, .imageInfo {
    flex-direction: column;
  }

  .about {
    border-top: 1px dotted #001a33;
    border-left: none;
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .image {
    min-height: 15rem;
  }

  .credits {
    border-right: none;
    border-bottom: 1px dotted #001a33;
    margin-bottom: 2rem;
  }
}