.App {
  text-align: center;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 3rem;
  color: #001a33;
}

.header h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.75rem;
  color: #DAA520;
  padding: 0 2rem 0 0;
  min-width: 45%;
}

.imageInfo, .header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.datePicker {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.header {
  align-items: center;
}

.about {
  padding: 0 2rem;
  border-left: 1px solid #001a33;
  width: 100%;
}

.dateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.dateSection button {
  border: 1px solid #001a33;
  padding: 0.5rem;
  width: 10rem;
  color: #001a33;
}

.dateSection button:hover {
  cursor: pointer;
  background-color: #001a33;
  color: white;
}

.image {
  min-height: 30rem;
  width: 100%;
}

.credits {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  border-right: 1px solid #001a33;
  justify-content: center;
  padding: 0 2rem;
}

.credits p {
  margin-top: 0.5rem;
}

.description {
  padding: 0 2rem;
}

.footer {
  border-top: 1px solid #001a33;
  padding-top: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: #001a33;
  padding: 0.5rem;
}

.footer a:hover {
  color: #DAA520;
  
}